body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #121214;
}
#Menu{   
    display: block;
    background-color: #29292E;
    width: 100%;
    height: 70px;
}
.Pesquisar{
    display: flex;
    
}
.Logo{
    color: #E1E1E6;
    display: flex;
    padding-top: 20px;
    margin: 0px 250px ;
}
.Navegar{
    padding-top: 13px;
    display: flex;
    list-style: none;
    color: #8D8D99;
}
.c-bmiQaE {
    margin: 0px 20px 0px 0px;
    padding-top: 17px;
}
.c-nUeur {
    padding-top: 17px;
}
.Perfil{
    padding: 2px 2px 2px 2px;
    color: #E1E1E6;
    text-align: center; 
    background-color: #633BBC ;
    background-clip: content-box ;
    font-size: 18px;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    box-sizing: border-box;
    margin-top: 6px;
    margin-left: 20px;
    
    border: #E1E1E6 2px solid;
}